body{
    background-color: rgb(7,7,7,1);
 
 }
 
 .container{
    position:relative;
 }
 
 .bg-img{
    width:930px; 
    position: fixed;
    margin-left:33%;
    background-color: rgb(3, 3, 22);
    border-top:1px solid rgb(38, 6, 241); ;
    height: 630px;
    
   
    
 
 }
 .box{
    border:1px solid rgb(38, 6, 241);
    width:550px;
    position:absolute;
    border-right: none;
    border-bottom: none;
    
    
  
 }
 
 .sub{
 margin:50px;
 border-bottom:1px solid rgb(240, 234, 234) ;
 
 text-align: center;
 padding:50px;
 color: white;
 margin-top: 1px;
 margin-bottom: 5px;
 
 
 }
 
 #question{
 margin-left:50px;
 color: white;
 
 }
 
 .btn{
 width:90%;
 padding:10px;
 margin:10px;
 text-align:left;
 margin-left:50px;
 cursor: pointer;
 transition:0.2s;
 }
 
 .btn:hover:not([disabled]){
 background-color: black;
 color:white;
 border:2px solid white;
 
 
 }
 .btn:disabled{
 cursor:no-drop;
 }
 #next-btn{
 display: block;
 margin:20px auto;
 padding:10px;
 width:90px;
 cursor: pointer;
 display:block;
 
 
 }

 .correct{
   background-color: rgb(118, 247, 118);
   
 }

 .incorrect{
   background-color: rgb(247, 109, 109);
 }

 .navbar{
   height:55px;
   width:1350px;
   background-color: rgb(62, 6, 229);
  
   margin-bottom: 10px;
   border: 2px solid green;

 }

 #mode{
 
   
   
 }