body{
    background-color: rgb(7,7,7,1);
 
 }
 
 .container{
    position:relative;
   
 }

 .bg-img{
  width:900px;
  height: 556px;
  margin-left:33%;
  position:absolute;
 
 }

 .box{
   /* border:2px solid #203d5b;*/
    width:550px;
    position:relative;
    margin-top:10px;
   /* border-right: none;
    border-bottom: none;*/
    
    
  
 }
 
 .sub{
 margin:50px;
 border-bottom:1px solid rgb(240, 234, 234) ;
 
 text-align: center;
 padding:50px;
 color: white;
 margin-top: 1px;
 margin-bottom: 5px;
 
 
 }
 
 #question{
 margin-left:50px;
 color: white;
 margin-top: 20px;;
 
 }
 
 .btn{
 width:90%;
 padding:10px;
 margin:10px;
 text-align:left;
 margin-left:50px;
 cursor: pointer;
 transition:0.2s;
 }
 
 .btn:hover:not([disabled]){
 background-color: black;
 color:white;
 border:2px solid white;
 
 
 }
 .btn:disabled{
 cursor:no-drop;
 }
 #next-btn{
 display: block;
 margin:20px auto;
 padding:10px;
 width:90px;
 cursor: pointer;
 display:block;
 
 
 }

 .correct{
   background-color: rgb(118, 247, 118);
   
 }

 .incorrect{
   background-color: rgb(247, 109, 109);
 }

 .navbar{
   height:70px;
   width:1350px;
   background-color: #203d5b;;
  
   margin-bottom: 10px;
   border: 1px solid rgb(247, 246, 246);

 }

 #mode{
   height:40px;
   width:40px;
   cursor:pointer;
   position: fixed;
   right:10px;
   top:15px;
   
   
 }
 .state:true{
   background-color:black ;
 }
 .state:false{
background-color: white;
 }

 
 .footer{
  background-color: black;
  position: absolute;
  width:100%;
  height: 200px;;
  margin-top: 150px;
 }





 @media (max-width: 600px){

  
 }






















 .nav {
  position: static;
  top: 0;
  display: flex;
  color: tomato;
  justify-content: space-between;
  background-color: blue;
}

.navbar-menu {
  color: #fff;
  font-weight: bold;
  font-size: 30px;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  list-style: none;

}

.menu {
  margin-left: 30px;
  text-decoration: none;
  color: #fff;
  padding: 10px;
  list-style: none;

}
.menu:hover {
  background-color: white;
  color: tomato;
  filter: drop-shadow(0px 0px 20px tomato);

}














.footer {
  display: flex;
  background-color: black;
  color: white;
  padding: 23px;
  justify-content: space-evenly;
}

footer ul li a {
  text-decoration: none;
  color: whitesmoke;
  width: 300px;
}

.linkFooter {
  list-style: none;
  font-size: 15px;
  justify-content: space-around;
  padding: 20px;
}

.imageSocial {
  height: 20px;
  width: 20px;
}
.copyright {
  text-align: center;
  margin: 20px;
  color: gray;
  font-size: 20px;
}

.footerHead {
  font-size: 20px;
  color: blue;
}

































 